# **Python Project For Electric cars**

## Importing Libraries

In [ ]:
#importing Pandas
import pandas as pd
#importing numpy
import  numpy as np

## Loading Dataset(s)

In [ ]:
#Loading the csv dataset
electric =pd.read_csv('/content/Autolib_dataset (2).csv', header= 0)

preview the Data

In [ ]:
electric.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# Exploration

In [ ]:
#Check the shape of the data
electric.shape

(5000, 25)

In [ ]:
#checking the information of the data
electric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
electric.head(1)

               Address  Cars  Bluecar counter  ...  day  hour  minute
0  2 Avenue de Suffren     0                0  ...    8    11      43

[1 rows x 25 columns]

# Data Cleaning

In [ ]:
#Changing the names of the columns to a standard uniform way
electric.columns = map(str.lower, electric.columns)
columns =['address','cars',	'bluecar_counter',	'utilibcounter',	'utilibcounter1','charge_slots','charging_status','city','displayed_comment','ID','kind','geo_point','postal_code','public_name','rental_status','scheduled_at',	'slots','station_type',	'status',	'subscription_status','year',	'month','day','hour',	'minute']

electric.columns = columns
electric.columns

Index(['address', 'cars', 'bluecar_counter', 'utilibcounter', 'utilibcounter1',
       'charge_slots', 'charging_status', 'city', 'displayed_comment', 'ID',
       'kind', 'geo_point', 'postal_code', 'public_name', 'rental_status',
       'scheduled_at', 'slots', 'station_type', 'status',
       'subscription_status', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [ ]:
#preview the first 5 data

electric.head()

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#preview the last 5 data
electric.tail()

                          address  cars  bluecar_counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

# 1.Validity

In [ ]:
#We are going to drop  columns 1. schedule_at
electric = electric.drop(['scheduled_at'], axis= 1)

In [ ]:
#we are going to drop columns 2. displyed_content

electric = electric.drop(['displayed_comment'], axis =1)

In [ ]:
#we are going to drop columns 3. status

electric =electric.drop(['status'], axis =1)

In [ ]:
#we are going to drop column 4. Geo point
electric= electric.drop(['geo_point'],axis = 1)

In [ ]:
electric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilibcounter        5000 non-null   int64
 4   utilibcounter1       5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   ID                   5000 non-null   object
 9   kind                 5000 non-null   object
 10  postal_code          5000 non-null   int64
 11  public_name          5000 non-null   object
 12  rental_status        5000 non-null   object
 13  slots                5000 non-null   int64
 14  station_type         5000 non-null   object
 15  subscription_status  5000 non-null   object
 16  year                 5000 non-null   int64
 17  month                5000 non-null   int64
 18  day                  5000 non-null   int64
 19  hour                 5000 non-null   int64
 20  minute               5000 non-null   int64
dtypes: int64(12), object(9)
memory usage: 820.4+ KB

In [ ]:
#SPlitting columns
#We need to split the columns in public name\

#electric['public_name'] = electric['public_name'].str.split("/")
#electric.head()

In [ ]:
electric.head()

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 21 columns]

# 2.Accuracy

In [ ]:
#We need to check for null values
electric.isnull().sum()

address                0
cars                   0
bluecar_counter        0
utilibcounter          0
utilibcounter1         0
charge_slots           0
charging_status        0
city                   0
ID                     0
kind                   0
postal_code            0
public_name            0
rental_status          0
slots                  0
station_type           0
subscription_status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [ ]:
#since we do not have null values

# 3.Consistency

In [ ]:
#Invloves removing all the inconsistencies  in the data like the percentages and misplaced decimals

# 4.Uniformity

In [ ]:
#We need to check for uniformity in the columns to ensure that the data is in lowercase
#electric.head()
electric['kind']= electric['kind'].str.lower()

In [ ]:
#observing the datset to check for the changes
electric.head()

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 21 columns]

# 5.Completeness

In [ ]:
#We remove the duplicates
electric.drop_duplicates(keep = False , inplace= True)

Download the Document.

In [ ]:
#We will be using Python for data analysis but first we will download it.

electric.to_csv('electric1.csv')

## Analysis

In [ ]:
#1.Identify the most popular hour of the day for picking up a shared electric car 
#(Bluecar) in the city of Paris over the month of April 2018.



electric_sorted =electric.loc[(electric['bluecar_counter'] > 0)& (electric['rental_status'] =='operational') & (electric['city'] == 'Paris')]
electric_sorted

df_popular_hour = electric_sorted['hour'].value_counts().sort_values(ascending = False)

df_popular_hour =pd.DataFrame(df_popular_hour)

print(electric['hour'].mode())

df_popular_hour

0    21
dtype: int64

    hour
21    95
12    90
6     81
9     80
13    80
10    80
15    79
8     79
17    78
16    78
19    75
18    75
5     74
7     73
3     73
11    70
22    69
2     69
4     68
0     68
23    67
1     64
20    63
14    59

In [ ]:
#What station is the most popular?
#electric['public_name'].value_counts().idxmax()
electric['public_name'].value_counts().nlargest(n =1)

In [ ]:
electric.head(1)

In [ ]:
#What postal code is the most popular for picking up Blue cars?

electric['postal_code'].value_counts().idxmax()

75015

In [ ]:
#At the most popular picking hour?
electric['hour'].value_counts().idxmax()

21

In [ ]:
# Finding the most popular station( Overall) from our dataset.
#
pop2 = electric.groupby(['address'])['bluecar_counter'].sum().sort_values(ascending=False)
pop2.head(1)

address
32 rue Robert Marchand    50
Name: bluecar_counter, dtype: int64